<div class="social-channel-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">视频教程</h3>
        </div>
        <div class="list-group">
            <a href="http://i.youku.com/i/UMzI1MjQ0MDgw/videos?spm=a2hzp.8244740.0.0" class="list-group-item" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i> 优酷视频教程</a>
            <a href="https://www.youtube.com/watch?v=cLQUI7t30HY&list=PLbhC27Bf6WlnJReRfmuH5FCrWLXYwrFtO" class="list-group-item" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> 油管视频教程</a>
        </div>
    </div>
</div>